<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    
    <script src="lib/vue.min.js"></script>
    <script src="lib/lodash.min.js"></script>

    <script src="js/script.js"></script>

    <link rel="stylesheet" href="css/styles.css">

    <title>Gestionnaire restaurants VueJS</title>
</head>

<body>
<div id="app">
    <form v-on:submit="ajouterRestaurant">
        <label>
            Nom : <input type="text" name="nom" required v-model="nom">
        </label>
        <label>
            Cuisine : <input type="text" name="cuisine" required v-model="cuisine">
        </label>

        <button>Ajouter</button>
    </form>
    <p>
        <label>
            Rechercher par nom :
            <input type="text" v-on:input="debounceRecherche()"
                   v-model="nomRecherche">
        </label>
    </p>
    <h1>Nombre de restaurants : {{nbRestaurants}}, nb pages = {{nbPagesDeResultats}}</h1>
    <p>
        <input type="range" v-on:input="getRestaurantsFromServer()"
               value=10 min=2 max =100
               v-model="pagesize"
        > : {{this.pagesize}}
    </p>
    <button v-on:click="pageDebut()"
            v-bind:class="{inactif:(page==0)}">Debut</button>
    <button v-on:click="pagePrecedente()"
            v-bind:class="{inactif:(page==0)}">Page Precedente</button>
    <button v-on:click="pageSuivante()"
            v-bind:class="{inactif:(page == (nbPagesDeResultats-1))}"
    >
        Page Suivante</button>
    <button v-on:click="pageFin()"
            v-bind:class="{inactif:(page == (nbPagesDeResultats-1))}">Fin</button>
    <table>
        <tr>
            <th>Nom</th>
            <th>Cuisine </th>
            <th></th>
            <th></th>
        </tr>
        <tbody>
        <tr v-for="r,index in restaurants"
            v-bind:style="{backgroundColor:getColor(index)}"
            v-bind:class="{bordureRouge:(index === 2)}">
            <td>{{r.name}}</td>
            <td> {{r.cuisine}}</td>
            <td v-on:click="editRestaurant(r._id, r.name, r.cuisine)"
                id="edit"><img src="images/edit.png" width="25px"></td>
            <td v-on:click="supprimerRestaurant(r._id, r.name)"
                id="delete"><img src="images/delete.png" width="25px"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>
